.u-center-text {
  text-align: center !important;
}

@mixin u-margin-bottom-x {
  @for $i from 1 through 12 {
    .u-margin-bottom-#{$i} {
      margin-bottom: #{$i}rem !important;
    }
  }
}

@include u-margin-bottom-x;


@mixin u-margin-top-x {
  @for $i from 1 through 12 {
    .u-margin-top-#{$i} {
      margin-top: #{$i}rem !important;
    }
  }
}

@include u-margin-top-x;
